html,
body {
   margin:0;
   height:100%;
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
   background-color: #34495e;
}
h4 {
  margin-bottom: 20px;
}
.header {
  padding-top: 30px;
  padding-bottom: 15px;
}
.container {
   width: 60%;
   min-height:100%;
   position:relative;
   background-color: #ecf0f1;
   border-radius: 10px;
   box-shadow: 3px 3px 4px #333333;
   padding-left: 30px;
   padding-right: 30px;
}
.footer {
   position:absolute;
   bottom:0;
   width:88%;
   height:60px;
}
.form-control {
  margin-bottom: 20px;
}
.center {
  width: 100%;
  text-align: center;
}
.lds-dual-ring {
  display: none;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #34495e;
  border-color: #34495e transparent #34495e transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#spinner {
  margin-top: 25px;
}
