<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Chart.js </title>
  <!-- import plugin script -->
  <script src='static/js/Chart.bundle.min.js'></script>
  <link rel="stylesheet" href='static/css/bootstrap.min.css'>
  <link rel="stylesheet" href='static/css/chart.css'>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92072957-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-92072957-3');
  </script>

</head>
<body>
  <h1 class="header text-center">Time Usage</h1>
  <div class="container">
    <!-- bar chart canvas element -->
    <div class="chart-container">
      <canvas id="chart"></canvas>
    </div>
    <script>
       // bar chart data
       var barData = {
       labels : [{{range .labels}}
                {{.}},
                {{end}}],
       datasets : [{
                backgroundColor: "rgba(151,187,205,0.2)",
                borderColor: "rgba(151,187,205,1)",
                borderWidth: 2,
                data : [{{range .values}}
                        {{.}},
                        {{end}}]
                }]
       }

       // get bar chart canvas
       var mychart = document.getElementById("chart").getContext("2d");

       steps = 10
       max = {{.max}}
       // draw bar chart
       chart = new Chart(mychart, {
            type: 'bar',
            options: {
              maintainAspectRatio: false,
              xAxes: [{
                gridLines: {
                  display: false
                }
              }],
              legend: {
                display: false
              }
            },
            data: barData,
       });

    </script>
  </div>
</body>
</html>
